.container {
  margin-top: 5vw;
}

.main {
  color: #fff;
  text-align: center;
  height: 100vh;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  color: #fff;
  font-size: 4em;
  width: 100%;
}

.disclaimer {
  width: 20vw;
  text-align: left;
  text-indent: 20px;
  line-height: 1.75;
}

.button {
  margin: 1em;
  padding: 0.5em 2em 0.5em 2em;
  outline: none;
  font-weight: bolder;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}

.button:hover {
  background: #e5e5e5;
  border-radius: 0px;
  transition: 0.25s;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
